

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
body{
  background-color: rgba(0, 0, 0, 0.13);
}
.container{
  width: 450px;
  
}
.row>span:not(:first-child){
  margin-left: 20px;
}
.row{
  width: 100%;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;

}
.row.vertical{
  display: block;
}
.row>input{
  width: 100%;
  height: 30px;
  padding-left: 10px;
}
.task{
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 10px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.task:first-child{
  margin-top: 20px;
}
.task.done>span{
  text-decoration-thickness: 2px;
  color: green;
}
.task>span{
  font-weight: 300;
  font-size: 18px;
}
span.counter{
  color:black !important;
}
.btn-success{
  color: green;
 }
.btn-danger{
  
  background-color: rgb(243, 143, 143);
}
.btn-delete{
  
 color: red;
}
button{
  height: 30px;
  padding: 2px;
  cursor: pointer;
}
.btn-container{
  display: flex;
}